# Python
__pycache__/
*.pyc
venv/
.env

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data Volumes (Don't push your database files!)
influxdb_data/
grafana_data/